---
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import config from '@/site-config'


const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Inicio' }} highlightColor='#EF4444'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      
      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-6xl font-bold text-quimbara-primary tracking-tighter'>{config.title}</h1>
        <p class='text-2xl text-slate-300 text-center max-w-2xl font-medium'>
          {config.description}
        </p>
        
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3 mt-4'>
          <Label title='MMA' as='a' href='/blog/category/noticias-eventos' class='bg-slate-800 text-quimbara-secondary border-slate-700'>
            <Icon name='rss' class='size-5' slot='icon' />
          </Label>
          <Label title='UFC' as='a' href='/fighters' class='bg-slate-800 text-quimbara-secondary border-slate-700'>
            <Icon name='rss' class='size-5' slot='icon' />
          </Label>
          <Label title='Análisis' as='a' href='/blog/category/analisis-peleas' class='bg-slate-800 text-quimbara-secondary border-slate-700'>
            <Icon name='rss' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      <div class="flex gap-4">
        <Button title='Últimas Noticias' href='/blog' variant='ahead' />
        <Button title='Ver Luchadores' href='/fighters' style='back' />
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      
      {
        allPostsByDate.length > 0 ? (
          <Section title='Últimas Publicaciones'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='Ver todas las publicaciones' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        ) : (
          <Section title='Próximamente'>
            <p class='text-muted-foreground'>Estamos preparando el mejor contenido de combate para ti.</p>
          </Section>
        )
      }

    </div>
  </main>
</PageLayout>
